<div *ngIf="event">
  <h2>Details of Event {{ event.name }}</h2>
  <div class="event-detail-container">
    <div class="event-image">
      <img [src]="event.image" [alt]="event.name">
    </div>
    <div class="event-info">
      <table>
        <tr>
          <th>Name</th>
          <td>{{ event.title || 'Not Available' }}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{ event.date || 'Not Available' }}</td>
        </tr>
        <tr>
          <th>Theme</th>
          <td>{{ event.theme || 'Not Available' }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ event.status || 'Not Available' }}</td>
        </tr>
        <tr>
          <th>Minimum Guests Allowed</th>
          <td>{{ event.minGuest || 'Not Available' }}</td>
        </tr>
        <tr>
          <th>Maximum Guests Allowed</th>
          <td>{{ event.maxGuest || 'Not Available' }}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{ event.description || 'Not Available' }}</td>
        </tr>
      </table>
      <a [routerLink]="['/programs', event.id]">View Programs</a>
      <button class="login-button" [routerLink]="['/login']">Login to Join</button>
    </div>
  </div>
</div>
