<main>
  <section class="intro">
    <h1>College Event <span>Management System</span></h1>
    <i><p>The College Event Management System is designed to streamline the planning, organization, and execution of college events. It allows administrators to efficiently manage event details, guest lists, and feedback, ensuring a smooth and successful event experience.</p>
  </i>  <button class="join-btn" [routerLink]="['/register']">Join Us</button>
  </section>
  
  <div class="login-section">
    <h2>Login Here</h2>
    <form (ngSubmit)="login()">
      <input type="email" placeholder="Enter Email Here" id = "email" [(ngModel)]="loginData.email" name="email" required>
      <input type="password" placeholder="Enter Password Here" id = "pass" [(ngModel)]="loginData.password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a [routerLink]="['/register']">Sign up here</a></p>
    <div class="social-login">
      <span>Log in with</span>
      <a href="#"><img src="assets/facebook.png" alt="Facebook"></a>
      <a href="#"><img src="assets/instagram.png" alt="Instagram"></a>
      <a href="#"><img src="assets/twitter.png" alt="Twitter"></a>
      <a href="#"><img src="assets/google.png" alt="Google"></a>
    </div>
  </div> 
</main>
