
main {
  display: flex;
  justify-content: space-between;
  padding: 50px;
 /* background-image: url('innat.jpg');*/
  background-size: cover;
  background-position: center;
}

.intro {
  max-width: 50%;
}

.intro h1 {
  font-size: 48px;
}

.intro h1 span {
  color: orange;
}

.intro p {
  font-size: 18px;
}

.join-btn {
  background-color: orange;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
.login-section {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.login-section h2 {
  color: orange;
}

.login-section form {
  display: flex;
  flex-direction: column;
}

.login-section input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

.login-section button {
  background-color: orange;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.login-section p {
  margin-top: 10px;
}

.login-section a {
  color: orange;
  text-decoration: none;
}

.social-login {
  margin-top: 10px;
}

.social-login span {
  display: block;
  margin-bottom: 5px;
}

.social-login a {
  margin-right: 10px;
}

.social-login img {
  width: 24px;
  height: 24px;
}